{% extends 'base.html' %}
{% load static %}
{% block title %}About Us{% endblock title %}

{% block body %} 



            <div class="page-content-wrap">


            <header class="rich-header page-header version1" data-parallax="true" id="header_e0eb_0">
                <div class="parallax-container" id="div_e0eb_0">&nbsp;</div>
                <div class="container nz-clearfix">

                    <div class="rh-content">
                        <h1 >About Us</h1>
                        <div class="rh-separator">&nbsp;</div>
                        <div id="div_e0eb_1" class="nz-breadcrumbs nz-clearfix"><a href="index.html"  property="v:title">Home</a><span class="current">About Us</span></div>
                    </div>

                </div>
                <div id="slider-arrow" data-target="#nz-content" data-from="90" data-offset="90" class="i-separator animate nz-clearfix"></div>
            </header>
            <!-- content start -->
            <div id="nz-content" class='content nz-clearfix padding-false'>
                <div class='container page-full-width'>
                    <!-- post start -->
                    <div id="post-3142" class="post-3142 page type-page status-publish hentry">
                        <section class="page-content nz-clearfix">
                            <div class="nz-section horizontal autoheight-false animate-false full-width-false " data-animation-speed="35000" data-parallax="false" id="div_8767_0">
                                <div class="container">
                                    <div class="nz-row">
                                        <div class="col vc_col-sm-12 vc_col-lg-3 vc_col-md-2 vc_col-xs-12 col12  element-animate-false valign-top"  data-effect="none" data-align="center" data-margin="false">
                                            <div class="col-inner" ></div>
                                        </div>
                                        <div class="col vc_col-sm-12 vc_col-lg-6 vc_col-md-8 vc_col-xs-12 col12  element-animate-false valign-top"  data-effect="none" data-align="left" data-margin="false">
                                            <div class="col-inner" >
                                                <h3 id="h3_8767_0" class="vc_custom_heading ninzio-latter-spacing">OUR HISTORY</h3>
                                                <div class="sep-wrap element-animate element-animate-false center nz-clearfix" data-effect="none">
                                                    <div class="nz-separator solid" id="div_8767_1">&nbsp;</div>
                                                </div>
                                                <div  class="nz-column-text nz-clearfix no-padding element-animate-false" data-effect="none" data-effect-speed="50">

                                                    <p id="p_8767_0"><span id="span_8767_0">Capitalise on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs.</span></p>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col vc_col-sm-12 vc_col-lg-3 vc_col-md-2 vc_col-xs-12 col12  element-animate-false valign-top"  data-effect="none" data-align="left" data-margin="false">
                                            <div class="col-inner" ></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="nz-section horizontal autoheight-false animate-false full-width-false " data-animation-speed="35000" data-parallax="false" id="div_8767_2">
                                <div class="container">
                                    <div class="nz-row">
                                        <div class="col vc_col-sm-12 col12  element-animate-false valign-top"  data-effect="none" data-align="left">
                                            <div class="col-inner" >
                                                <div class="nz-steps ">
                                                    <div data-target="tab-reconstruction" class="step"><span class="step-title">2010</span>
                                                        <h4 class="title">Reconstruction</h4></div>
                                                    <div id="step-reconstruction" class="step-content">
                                                        <div class="nz-row">
                                                            <div class="col col6 col-animate-false">
                                                                <div class="col-inner">Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions. Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service. Objectively innovate empowered manufactured products whereas parallel platforms. Holisticly predominate extensible.
                                                                    <div class='gap nz-clearfix' id="div_8767_3">&nbsp;</div>Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail. Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration. Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</div>
                                                            </div>
                                                            <div class="col col6 col-animate-false">
                                                                <div class="col-inner"><img class="aligncenter size-full wp-image-4825" src='{% static "upload/blog8.jpg" %}' alt="blog8" width="870" height="570" /></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div data-target="tab-construction" class="step"><span class="step-title">2011</span>
                                                        <h4 class="title">Construction</h4></div>
                                                    <div id="step-construction" class="step-content">
                                                        <div class="nz-row">
                                                            <div class="col col6 col-animate-false">
                                                                <div class="col-inner"><img class="aligncenter size-full wp-image-4822" src='{% static "upload/blog5.jpg" %}' alt="blog5" width="870" height="570" /></div>
                                                            </div>
                                                            <div class="col col6 col-animate-false">
                                                                <div class="col-inner">Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail. Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration. Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
                                                                    <div class='gap nz-clearfix' id="div_8767_4">&nbsp;</div>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions. Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service. Objectively innovate empowered manufactured products whereas parallel platforms. Holisticly predominate extensible.</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div data-target="tab-development" class="step"><span class="step-title">2012</span>
                                                        <h4 class="title">Development</h4></div>
                                                    <div id="step-development" class="step-content">
                                                        <div class="nz-row">
                                                            <div class="col col4 col-animate-false">
                                                                <div class="col-inner">
                                                                    <br />
                                                                    <img class="aligncenter size-full wp-image-5403" src='{% static "upload/services1.jpg" %}' alt="services1" width="440" height="340"  />
                                                                    <div class='gap nz-clearfix' id="div_8767_5">&nbsp;</div>
                                                                    <p id="p_8767_1">Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.</p>
                                                                    <p>
                                                                </div>
                                                            </div>
                                                            <div class="col col4 col-animate-false">
                                                                <div class="col-inner">
                                                                    <br />
                                                                    <img class="aligncenter size-full wp-image-5403" src='{% static "upload/services2.jpg" %}' alt="services1" width="440" height="340" />
                                                                    <div class='gap nz-clearfix' id="div_8767_6">&nbsp;</div>
                                                                    <p id="p_8767_2">Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud.</p>
                                                                    <p>
                                                                </div>
                                                            </div>
                                                            <div class="col col4 col-animate-false">
                                                                <div class="col-inner">
                                                                    <br />
                                                                    <img class="aligncenter size-full wp-image-5403" src='{% static "upload/services3.jpg" %}' alt="services1" width="440" height="340" />
                                                                    <div class='gap nz-clearfix' id="div_8767_7">&nbsp;</div>
                                                                    <p id="p_8767_3">Capitalise on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information</p>
                                                                    <p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div data-target="tab-creativity" class="step"><span class="step-title">2016</span>
                                                        <h4 class="title">Creativity</h4></div>
                                                    <div id="step-creativity" class="step-content">Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions. Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service. Objectively innovate empowered manufactured products whereas parallel platforms. Holisticly predominate extensible testing procedures for reliable supply chains. Dramatically engage top-line web services vis-a-vis cutting-edge deliverables.
                                                        <br />
                                                        <div class='gap nz-clearfix' id="div_8767_8">&nbsp;</div>
                                                        Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail. Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration. Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI. Capitalise on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="nz-section horizontal autoheight-true animate-false full-width-true custom-toggle-color" data-animation-speed="35000" data-parallax="false" id="div_8767_9">
                                <div class="nz-row">
                                    <div class="col vc_col-sm-12 vc_col-lg-6 vc_col-md-12 vc_col-xs-12 col12  element-animate-false valign-middle"  data-effect="none" data-align="left">
                                        <div class="col-inner" >
                                            <a class="video-modal" href="https://www.youtube.com/watch?v=vvbN-cWe0A0">
                                                <div class="ninzio-overlay">
                                                    <div class="ninzio-overlay-content">
                                                        <div class="video-icon"></div>
                                                        <h3 class="video-title">Corporate video</h3></div>
                                                </div><img width="960" alt="" height="820" src='{% static "upload/section_img1.jpg" %}'></a>
                                        </div>
                                    </div>
                                    <div class="col vc_col-sm-12 vc_col-lg-6 vc_col-md-12 vc_col-xs-12 col12 custom-padding-on-mobile element-animate-false valign-middle"  data-effect="none" data-align="left">
                                        <div class="col-inner" id="div_8767_10">
                                            <h2 id="h2_8767_0" class="vc_custom_heading">Our Skills</h2>
                                            <div class="sep-wrap element-animate element-animate-false left nz-clearfix" data-effect="none">
                                                <div class="nz-separator solid" id="div_8767_11">&nbsp;</div>
                                            </div>
                                            <div  class="nz-column-text nz-clearfix  element-animate-false" data-effect="none" data-effect-speed="50"><em><span id="span_8767_1"><em>Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.</em></span>
                                                </em>
                                            </div>
                                            <div class='gap nz-clearfix' id="div_8767_12">&nbsp;</div>
                                            <div id="nz-progress-1" class="nz-progress nz-clearfix">
                                                <div class="bar">
                                                    <div class="bar-text"><span class="progress-title" >Painting</span><span class="progress-percent" >80</span></div>
                                                    <div class="bar-line">
                                                        <div id="div_8767_13" class="nz-line" data-percentage="80"></div>
                                                    </div>
                                                </div>
                                                <div class="bar">
                                                    <div class="bar-text"><span class="progress-title" >Repairing</span><span class="progress-percent" >90</span></div>
                                                    <div class="bar-line">
                                                        <div id="div_8767_14" class="nz-line" data-percentage="90"></div>
                                                    </div>
                                                </div>
                                                <div class="bar">
                                                    <div class="bar-text"><span class="progress-title" >Gardening</span><span class="progress-percent" >95</span></div>
                                                    <div class="bar-line">
                                                        <div id="div_8767_15" class="nz-line" data-percentage="95"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="nz-section horizontal autoheight-false animate-false full-width-false " data-animation-speed="35000" data-parallax="false" id="div_8767_16">
                                <div class="container">
                                    <div class="nz-row">
                                        <div class="col vc_col-sm-12 vc_col-lg-3 vc_col-md-2 vc_col-xs-12 col12  element-animate-false valign-top"  data-effect="none" data-align="center" data-margin="false">
                                            <div class="col-inner" ></div>
                                        </div>
                                        <div class="col vc_col-sm-12 vc_col-lg-6 vc_col-md-8 vc_col-xs-12 col12  element-animate-false valign-top"  data-effect="none" data-align="left" data-margin="false">
                                            <div class="col-inner" >
                                                <h3 id="h3_8767_1" class="vc_custom_heading ninzio-latter-spacing">TEAM MEMBERS</h3>
                                                <div class="sep-wrap element-animate element-animate-false center nz-clearfix" data-effect="none">
                                                    <div class="nz-separator solid" id="div_8767_17">&nbsp;</div>
                                                </div>
                                                <div  class="nz-column-text nz-clearfix no-padding element-animate-false" data-effect="none" data-effect-speed="50">

                                                    <p id="p_8767_4"><span id="span_8767_2">Capitalise on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs.</span></p>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col vc_col-sm-12 vc_col-lg-3 vc_col-md-2 vc_col-xs-12 col12  element-animate-false valign-top"  data-effect="none" data-align="left" data-margin="false">
                                            <div class="col-inner" ></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="nz-section horizontal autoheight-false animate-false full-width-false " data-animation-speed="35000" data-parallax="false" id="div_8767_18">
                                <div class="container">
                                    <div class="nz-row">
                                        <div class="col vc_col-sm-12 col12  element-animate-false valign-top"  data-effect="none" data-align="left">
                                            <div class="col-inner" >
                                                <div id="nz-persons-1" class="nz-persons nz-carousel nz-clearfix animate-none" data-animate="false" data-columns="3">
                                                    <div class="animate-item person ">
                                                        <div class="img"><img src='{% static "upload/person1.jpg" %}' alt="Alexandra McDoe" />
                                                            <div class="ninzio-overlay">
                                                                <div class="ninzio-overlay-content">
                                                                    <div class="social-links">
                                                                        <a class="icon-twitter" href="#" title="twitter"></a>
                                                                        <a class="icon-facebook" href="#" title="facebook"></a>
                                                                        <a class="icon-linkedin" href="#" title="linkedin"></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="person-body">
                                                            <div class="person-meta">
                                                                <a href="#">
                                                                    <div class="name">Alexandra McDoe</div>
                                                                </a>
                                                                <div class="title">Web Developer</div>
                                                                <div class="nz-clearfix"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="animate-item person ">
                                                        <div class="img"><img src='{% static "upload/person2.jpg" %}' alt="Michael Smart" />
                                                            <div class="ninzio-overlay">
                                                                <div class="ninzio-overlay-content">
                                                                    <div class="social-links">
                                                                        <a class="icon-twitter" href="#" title="twitter"></a>
                                                                        <a class="icon-facebook" href="#" title="facebook"></a>
                                                                        <a class="icon-linkedin" href="#" title="linkedin"></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="person-body">
                                                            <div class="person-meta">
                                                                <a href="#">
                                                                    <div class="name">Michael Smart</div>
                                                                </a>
                                                                <div class="title">Business Developer</div>
                                                                <div class="nz-clearfix"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="animate-item person ">
                                                        <div class="img"><img src='{% static "upload/person3.jpg"  %}' alt="Barbara Brown" />
                                                            <div class="ninzio-overlay">
                                                                <div class="ninzio-overlay-content">
                                                                    <div class="social-links">
                                                                        <a class="icon-twitter" href="#" title="twitter"></a>
                                                                        <a class="icon-facebook" href="#" title="facebook"></a>
                                                                        <a class="icon-googleplus" href="#" title="googleplus"></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="person-body">
                                                            <div class="person-meta">
                                                                <a href="#">
                                                                    <div class="name">Barbara Brown</div>
                                                                </a>
                                                                <div class="title">Human Manager</div>
                                                                <div class="nz-clearfix"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="animate-item person ">
                                                        <div class="img"><img src='{% static "upload/person1.jpg" %}' alt="Barbara Brown" />
                                                            <div class="ninzio-overlay">
                                                                <div class="ninzio-overlay-content">
                                                                    <div class="social-links">
                                                                        <a class="icon-twitter" href="#" title="twitter"></a>
                                                                        <a class="icon-facebook" href="#" title="facebook"></a>
                                                                        <a class="icon-envelope" href="#" title="envelope"></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="person-body">
                                                            <div class="person-meta">
                                                                <a href="#">
                                                                    <div class="name">Barbara Brown</div>
                                                                </a>
                                                                <div class="title">IT specialist</div>
                                                                <div class="nz-clearfix"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="animate-item person ">
                                                        <div class="img"><img src='{% static "upload/person2.jpg" %}' alt="Bob Marley" />
                                                            <div class="ninzio-overlay">
                                                                <div class="ninzio-overlay-content">
                                                                    <div class="social-links">
                                                                        <a class="icon-twitter" href="#" title="twitter"></a>
                                                                        <a class="icon-facebook" href="#" title="facebook"></a>
                                                                        <a class="icon-envelope" href="#" title="envelope"></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="person-body">
                                                            <div class="person-meta">
                                                                <a href="#">
                                                                    <div class="name">Bob Marley</div>
                                                                </a>
                                                                <div class="title">Human Manager</div>
                                                                <div class="nz-clearfix"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="nz-section horizontal autoheight-true animate-false full-width-true custom-toggle-color" data-animation-speed="35000" data-parallax="false" id="div_8767_19">
                                <div class="nz-row">
                                    <div class="col vc_col-sm-12 vc_col-lg-6 vc_col-md-12 vc_col-xs-12 col12 custom-padding-on-mobile element-animate-false valign-middle"  data-effect="none" data-align="left">
                                        <div class="col-inner" id="div_8767_20">
                                            <div class="nz-content-box nz-clearfix v1 left animate-none" data-columns="1" data-animate="false">
                                                <div id="nz-box-1" class="  back_active nz-box element-animate">
                                                    <div class="nz-box-wrap">
                                                        <div class="box-icon-wrap">
                                                            <div class="box-icon icon-music2"></div>
                                                        </div>
                                                        <div class="box-data">
                                                            <h3 class="box-title">New style available</h3>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further.</div>
                                                    </div>
                                                </div>
                                                <div id="nz-box-2" class="  back_active nz-box element-animate">
                                                    <div class="nz-box-wrap">
                                                        <div class="box-icon-wrap">
                                                            <div class="box-icon icon-calendar4"></div>
                                                        </div>
                                                        <div class="box-data">
                                                            <h3 class="box-title">Creative Team Work</h3>Capitalise on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps.</div>
                                                    </div>
                                                </div>
                                                <div id="nz-box-3" class="  back_active nz-box element-animate">
                                                    <div class="nz-box-wrap">
                                                        <div class="box-icon-wrap">
                                                            <div class="box-icon icon-truck2"></div>
                                                        </div>
                                                        <div class="box-data">
                                                            <h3 class="box-title">Great Support Today</h3>Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration.</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col vc_col-sm-12 vc_col-lg-6 vc_col-md-12 vc_col-xs-12 col12  element-animate-false valign-middle"  data-effect="none" data-align="left">
                                        <div class="col-inner" ><img class="aligncenter size-full wp-image-5504 " src="{% static 'upload/section_img2.jpg' %}" alt="5504" width="960" height="820"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="nz-section horizontal autoheight-false animate-false full-width-false " data-animation-speed="35000" data-parallax="false" id="div_8767_21">
                                <div class="container">
                                    <div class="nz-row">
                                        <div class="col vc_col-sm-12 col12  element-animate-false valign-top"  data-effect="none" data-align="left">
                                            <div class="col-inner" >
                                                <div id="nz-clients-1" class="lazy nz-clients nz-carousel animate-none" data-columns="5" data-animate="false" data-autoplay="false">
                                                    <div class="client animate-item">
                                                        <div class="client-inner">
                                                            <a href="#" target="_blank"><img src='{% static "upload/logo_white1.png" %}' alt="Client"></a>
                                                        </div>
                                                    </div>
                                                    <div class="client animate-item">
                                                        <div class="client-inner">
                                                            <a href="#" target="_blank"><img src='{% static "upload/logo_white2.png" %}' alt="Client"></a>
                                                        </div>
                                                    </div>
                                                    <div class="client animate-item">
                                                        <div class="client-inner">
                                                            <a href="#" target="_blank"><img src='{% static "upload/logo_white3.png" %}' alt="Client"></a>
                                                        </div>
                                                    </div>
                                                    <div class="client animate-item">
                                                        <div class="client-inner">
                                                            <a href="#" target="_blank"><img src='{% static "upload/logo_white4.png" %}' alt="Client"></a>
                                                        </div>
                                                    </div>
                                                    <div class="client animate-item">
                                                        <div class="client-inner">
                                                            <a href="#" target="_blank"><img src='{% static "upload/logo_white5.png" %}' alt="Client"></a>
                                                        </div>
                                                    </div>
                                                    <div class="client animate-item">
                                                        <div class="client-inner">
                                                            <a href="#" target="_blank"><img src='{% static "upload/logo_white2.png" %}' alt="Client"></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="nz-section horizontal autoheight-false animate-false full-width-true " data-animation-speed="35000" data-parallax="false" >
                                <div class="nz-row">
                                    <div class="col vc_col-sm-12 col12  element-animate-false valign-top"  data-effect="none" data-align="left" data-margin="false">
                                        <div class="col-inner" >
                                            <div id="nz-tagline-1"  class="nz-tagline">
                                                <div class="container nz-clearfix"><span id="span_8767_3" class="tagline-icon icon-bulb"></span><span class="tagline-title">Welcome To The Best Modern Website Studio You Ever Seen</span><a class="button button-normal white square icon-true full-false medium animate-false anim-type-ghost hover-fill" href="http://ninzio.com/"><span class="txt">Purchase now</span><span class="btn-icon icon-cart"></span></a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <!-- post end -->
                </div>
            </div>
            <!-- content end -->


{% endblock body %}
             